.accordion {
	border-radius: 21px;
	padding: 20px 0;
}

.accordion-row {
	& ~ .button-row {
		
	}
}

.accordion-item {
	background-color: $off-white;
	border: none;
	&:first-of-type {
		border-radius: 21px 21px 0 0;
		.accordion-button {
			border-radius: 21px 21px 0 0;
		}
	}
	&:last-of-type {
		border-radius: 0 0 21px 21px;
		overflow: hidden;
		& .accordion-button.collapsed {
			border-radius: 0 0 21px 21px;
		}
		.accordion-button {
			background-color: $off-white;
			border: 2px solid $off-white;
			border-bottom: 2px solid $off-white;
		}
		.accordion-body {
			border-bottom: 2px solid darken($off-white, 5%);
			&:last-of-type {
				border-bottom: 2px solid $off-white;
				border-radius: 0 0 21px 21px;
			}
		}
	}
}

.accordion-button {
	background-color: $off-white;
	border: 2px solid $off-white;
	border-bottom: 2px solid darken($off-white, 5%);
	color: $brand-green-light;
	font-weight: bold;
	&:hover {
		color: $brand-green-dark;
	}
	&:focus {
		border: 2px solid $brand-green-bright;
		box-shadow: none;
	}
}

.accordion-button:not(.collapsed) {
	background-color: $off-white;
	border: 2px solid $off-white;
	border-bottom: 2px solid darken($off-white, 5%);
	box-shadow: none;
	color: $brand-green-light;
	outline: none;
	&:focus {
		border: 2px solid $brand-green-bright;
		box-shadow: none;
	}
}

.accordion-body {
	background-color: white;
	border: 2px solid $off-white;
	padding: 20px;
	p:last-of-type {
		margin: 0;
	}
	@media (min-width: $medium) {
		padding: 30px;
	}
}