.breadcrumb-wrapper {
	border-bottom: 2px solid #EFEFEF;
	display: none;
	flex-direction: column;
	margin: -10px 28px 20px 0;
	padding: 0 0 20px 0;
	width: calc(100% - 28px);
	@media (min-width: $medium) {
		display: flex;
		margin: -30px 0 30px 0;
	}
	@media (min-width: $extra-large) {
		margin: -40px 0 40px 0;
	}
	li {
		display: inline-block;
		a {
			color: $copy;
			display: inline-block;
			text-decoration: none;
			&:focus, &:hover {
				color: $brand-green-light;
			}
		}
		&:after {
			@media (min-width: $medium) {
				content: "/";
				display: inline-block;
				opacity: .5;
				padding: 0 12px;
			}
		}
		&:last-of-type {
			color: $brand-green-light;
			font-weight: bold;
			&:after {
				display: none;
			}
			@media (min-width: $medium) {
				margin: 0 auto 0 0;
			}
		}
	}
	@media (min-width: $medium) {
		flex-direction: row;
	}
	.current_page_ancestor {
		display: flex;
		flex-direction: row;
		.children {
			padding: 0;
			li {
				&:before {
					@media (min-width: $medium) {
						content: "/";
						display: inline-block;
						opacity: .5;
						padding: 0 12px;
					}
				}
			}
			a {
				font-weight: normal;
			}
		}
	}
}

.billboard-wrapper.mini-billboard-wrapper {
	.breadcrumb-wrapper {
		margin: -10px 0 20px 0;
		width: 100%;
		@media (min-width: $medium) {
			margin: -30px 0 30px 0;
		}
		@media (min-width: $extra-large) {
			margin: -40px 0 40px 0;
		}
	}
}


#breadcrumb-back {
	color: $copy;
	display: inline-block;
	text-decoration: none;
	&:focus, &:hover {
		color: $brand-green-light;
		svg {
			fill: $brand-green-light;
		}
	}
	svg {
		fill: $copy;
		float: left;
		height: 18px;
		margin: 3px 8px 3px 0;
		transition: fill .2s ease-in-out;
	}
}

