.button-row {
	margin-top: 10px;
	@media (min-width: $medium) {
		margin-top: 20px;
	}
}

.wysiwyg-wrapper ~ .button-row {
	margin-top: 20px;
	@media (min-width: $medium) {
		margin-top: 30px; 
	}
}

.button {
	border-radius: 21px;
	color: white;
	display: inline-block; 
	font-size: 1.125em;
	font-weight: bold;
	height: 42px;
	line-height: 19px;
	padding: 9px 24px;
	text-align: center;
	text-decoration: none;
	text-transform: capitalize;
	transition: .2s ease-in-out all;
	width: 100%;
	&:focus {
		outline: none;
	}
	@media (min-width: $medium) {
		width: auto;
	}
}

.button-primary {
	background-color: $brand-green-light;
	border: 2px solid $brand-green-light;
	color: white;
	&:hover {
		background-color: $brand-green-dark;
		border: 2px solid $brand-green-dark;
		color: white;
	}
	&:focus {
		border: 2px solid $brand-green-dark;
		box-shadow: 0px 0px 0px 4px $brand-green-bright;
		color: white;
	}
}

.button-outline-primary, .button-secondary {
	background-color: white;
	border: 2px solid $brand-green-light;
	color: $brand-green-light;
	&:hover {
		background-color: white;
		border: 2px solid $brand-green-dark;
		color: $brand-green-dark;
	}
	&:focus {
		border: 2px solid $brand-green-dark;
		box-shadow: 0px 0px 0px 4px $brand-green-bright;
	}
}

.button-billboard {
	background-color: white;
	border: 2px solid white;
	color: $brand-green-light;
	margin-top: 30px;
	@media (min-width: $medium) {
		background-color: $brand-green-light;
		border: 2px solid $brand-green-light;
		color: white;
	}
	&:hover {
		background-color: white;
		border: 2px solid white;
		color: $brand-green-dark;
		@media (min-width: $medium) {
			background-color: $brand-green-dark;
			border: 2px solid $brand-green-dark;
			color: white;
		}
	}
	&:focus {
		border: 2px solid $brand-green-dark;
		box-shadow: 0px 0px 0px 4px $brand-green-bright;
		@media (min-width: $medium) { 
			border: 2px solid $brand-green-dark;
			box-shadow: 0px 0px 0px 4px $brand-green-bright;
			color: white;
		}
	}
}

.button-icon {
	align-items: center;
	background-color: transparent;
	border: none;
	border-radius: 50%;
	display: flex;
	height: 38px;
	justify-content: center;
	padding: 0;
	width: 38px;
	svg {
		fill: white;
		display: block;
		height: 20px;
		width: 20px;
	}
	&:disabled {
		cursor: not-allowed;
		svg {
			fill: gray;
		}
	}
}